<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>Edit</title>

</head>

<body>
<h2>Hello</h2>

<div>
    <form th:method="PATCH" th:object="${user}" th:action="@{/admin/update}">

        <fieldset>
            <legend>Данные Юзера</legend>

            <label>
                <input type="hidden" name="id" th:value="${user.getId()}"/>
            </label>

            <p>
                Имя: <label>
                <input type="text" name="name" th:value="${user.getName()}">
            </label>
            </p>

            <p>
                Фамилия: <label>
                <input type="text" name="surname" th:value="${user.getSurname()}">
            </label>
            </p>

            <p>
                Возраст: <label>
                <input type="text" name="age" th:value="${user.getAge()}">
            </label>
            </p>

            <p>
                Логин: <label>
                <input type="text" name="useName" th:value="${user.getUseName()}">
            </label>
            </p>

            <p>
                Пароль: <label>
                <input type="text" name="pass" th:value="${user.getPass()}">
                <br><br>
            </label>
            </p>

            <table th:border="3">
                <tr th:each="rol:${role}">
                    <td th:text="${rol.getNameRole()}"></td>
                </tr>
            </table>

            <tr>
                <td>
                    <div class="text-center" style="margin-bottom: 10px">
                        <h5 style="margin: 4px">Role</h5>
                        <label>

                            <select class="form-select" size="2" id="roles" multiple name="rol">
                                <option selected th:each="role:${roleList}" th:value="${role.getId()}"
                                        th:utext="${role.getNameRole()}">
                            </select>

                        </label>
                    </div>
                </td>
            </tr>

        </fieldset>
        <br>
        <br>
        <button type="submit">Сохранить</button>
    </form>

    <br><br>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выход"/>
    </form>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>
