<!--<header>-->
<!--    <div class="container-fluid" style="background-color: #343A40">-->
<!--        <div class="row" style="height: 35px; background-color: #343A40; margin: 0">-->

<!--            <div class="col-6">-->
<!--                &lt;!&ndash;                <p th:text="${userLog}" class="text-left text-light" style="margin-top: 4px"></p>&ndash;&gt;-->
<!--                <p class="text-left text-light" style="margin: 5px 0 0 7px">Dima</p>-->
<!--            </div>-->

<!--            <div class="col-6">-->
<!--                <form th:action="@{/logout}" method="post">-->
<!--                    <button type="submit" class="btn btn-link" style="float: right">-->
<!--                        <h6 style="color: grey; margin: 0 0 0 0">logout</h6>-->
<!--                    </button>-->
<!--                </form>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</header>-->

<!--<div class="container-fluid">-->
<!--    <div class="row">-->
<!--        <div class="col-12" style="padding: 0">-->
<!--            &lt;!&ndash;                <button type="button" class="btn btn-primary btn-block" style="margin-top: 10px; height: 40px;">&ndash;&gt;-->
<!--            &lt;!&ndash;                    <p class="text-left">Admin</p>&ndash;&gt;-->
<!--            &lt;!&ndash;                </button>&ndash;&gt;-->

<!--            &lt;!&ndash;                <form th:method="GET" th:action="@{/users/userIndex}">&ndash;&gt;-->
<!--            &lt;!&ndash;                    <button type="submit" class="btn btn-outline-primary btn-block"&ndash;&gt;-->
<!--            &lt;!&ndash;                            style="margin-top: 3px; height: 40px;">&ndash;&gt;-->
<!--            &lt;!&ndash;                        <p class="text-left"> User </p>&ndash;&gt;-->
<!--            &lt;!&ndash;                    </button>&ndash;&gt;-->
<!--            &lt;!&ndash;                </form>&ndash;&gt;-->

<!--            <div class="d-flex align-items-start" style="background-color: #F8F9FA">-->
<!--                <div class="nav flex-column nav-pills me-1 col-lg-1 col-md-1 col-sm-1 vh-100" id="v-pills-tab"-->
<!--                     role="tablist" aria-orientation="vertical"-->
<!--                     style="padding: 0; margin: 0; width: 12%; background-color: #FFFFFF">-->

<!--                    <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home"-->
<!--                       role="tab" aria-controls="v-pills-home" aria-selected="true"-->
<!--                       style="margin-top: 10px; width: 100%">Admin</a>-->

<!--                    <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile"-->
<!--                       role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>-->
<!--                </div>-->
<!--                &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--                <div class="tab-content col-lg-10 col-md-10 col-sm-10 vh-100" id="v-pills-tabContent">-->

<!--                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"-->
<!--                         aria-labelledby="v-pills-home-tab">-->

<!--                        <h2 style="margin: 0 0 15px 15px; padding-top: 15px">Admin panel</h2>-->

<!--                        <nav class="nav nav-tabs" id="nav-tab" role="tablist" style="margin: 0 0 0 15px">-->
<!--                            <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home"-->
<!--                               role="tab"-->
<!--                               aria-controls="nav-home" aria-selected="true">Users table</a>-->

<!--                            <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile"-->
<!--                               role="tab"-->
<!--                               aria-controls="nav-profile" aria-selected="false">Add new user</a>-->
<!--                        </nav>-->

<!--                        <div class="tab-content table-responsive table table-striped" id="nav-tabContent">-->
<!--                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"-->
<!--                                 aria-labelledby="nav-home-tab" style="margin: 0 0 0 15px">-->
<!--                                <table class="table table-bordered" style="background: #EAEAEA; margin: 0">-->
<!--                                    <thead>-->
<!--                                    <tr>-->
<!--                                        <div style="background: #EAEAEA">-->
<!--                                            <h5>All users</h5>-->
<!--                                        </div>-->
<!--                                    </tr>-->
<!--                                    <tr style="background: #FFFFFF">-->
<!--                                        <th>ID</th>-->
<!--                                        <th>First Name</th>-->
<!--                                        <th>Last Name</th>-->
<!--                                        <th>Age</th>-->
<!--                                        <th>Role</th>-->
<!--                                        <th>Edit</th>-->
<!--                                        <th>Delete</th>-->
<!--                                    </tr>-->
<!--                                    </thead>-->

<!--                                    <tbody>-->
<!--                                    <tr th:each="emp:${empAll}">-->
<!--                                        <td th:text="${emp.getId()}">Name</td>-->
<!--                                        <td th:text="${emp.getName()}">Name</td>-->
<!--                                        <td th:text="${emp.getSurname()}">Name</td>-->
<!--                                        <td th:text="${emp.getAge()}">Name</td>-->
<!--                                        <td th:text="${emp.getRoleSet()}">Name</td>-->

<!--                                        <td>-->
<!--                                            <form th:method="GET" th:action="@{/admin/formUserEdit/edit}">-->
<!--                                                <button class="btn btn-info" type="submit" th:name="updateIdUser"-->
<!--                                                        th:value="${emp.getId()}">Edit-->
<!--                                                </button>-->
<!--                                            </form>-->
<!--                                        </td>-->

<!--                                        <td>-->
<!--                                            <form th:method="DELETE" th:action="@{/admin/delete/user}">-->
<!--                                                <button class="btn btn-danger" type="submit" th:name="deleteIdUser"-->
<!--                                                        th:value="${emp.getId()}">Delete-->
<!--                                                </button>-->
<!--                                            </form>-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                            <div class="tab-pane fade" id="nav-profile" role="tabpanel"-->
<!--                                 aria-labelledby="nav-profile-tab">-->
<!--                                2-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"-->
<!--                             aria-labelledby="v-pills-profile-tab">-->

<!--                            Юзер-->


<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->

<!--            &lt;!&ndash;                <ul class="nav nav-tabs">&ndash;&gt;-->
<!--            &lt;!&ndash;                    <li class="nav-item" style="margin-bottom: 1px">&ndash;&gt;-->
<!--            &lt;!&ndash;                        <a class="nav-link active">&ndash;&gt;-->
<!--            &lt;!&ndash;                            <p style="color: grey; margin-bottom: 3px">&ndash;&gt;-->
<!--            &lt;!&ndash;                                Users table&ndash;&gt;-->
<!--            &lt;!&ndash;                            </p>&ndash;&gt;-->
<!--            &lt;!&ndash;                        </a>&ndash;&gt;-->
<!--            &lt;!&ndash;                    </li>&ndash;&gt;-->
<!--            &lt;!&ndash;                    <li class="nav-item" style="margin-bottom: 1px">&ndash;&gt;-->
<!--            &lt;!&ndash;                        <form th:method="GET" th:action="@{/admin/formUserAdd/new}">&ndash;&gt;-->
<!--            &lt;!&ndash;                            <button class="nav-link btn-outline-secondary" type="submit"&ndash;&gt;-->
<!--            &lt;!&ndash;                                    style="background-color: #F7F7F7">&ndash;&gt;-->
<!--            &lt;!&ndash;                                <p style="color: deepskyblue; margin-bottom: 3px">&ndash;&gt;-->
<!--            &lt;!&ndash;                                    New User&ndash;&gt;-->
<!--            &lt;!&ndash;                                </p>&ndash;&gt;-->
<!--            &lt;!&ndash;                            </button>&ndash;&gt;-->
<!--            &lt;!&ndash;                        </form>&ndash;&gt;-->
<!--            &lt;!&ndash;                    </li>&ndash;&gt;-->
<!--            &lt;!&ndash;                    <li class="nav-item">&ndash;&gt;-->
<!--            &lt;!&ndash;                </ul>&ndash;&gt;-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->