<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>Info Administrator</title>

</head>

<body>
<div class="container">
    <h2>Info Employee</h2>
</div>

<br>
<br>

<div class="container">
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>UserName</th>
            <th>Password</th>
            <th>Role</th>
            <th>Delete</th>
            <th>Update</th>

        </tr>
        <tr th:each="emp:${empAll}">
            <td th:text="${emp.getName()}">Name</td>
            <td th:text="${emp.getSurname()}">Surname</td>
            <td th:text="${emp.getAge()}">age</td>
            <td th:text="${emp.getUsername()}"></td>
            <td th:text="${emp.getPassword()}"></td>
            <td th:text="${emp.getRoleSet()}"></td>

            <td>
                <form th:method="DELETE" th:action="@{/admin/delete/user}">
                    <button type="submit" th:name="deleteIdUser" th:value="${emp.getId()}">Удалить</button>
                </form>
            </td>

            <td>
                <form th:method="GET" th:action="@{/admin/formUserEdit/edit}">
                    <button type="submit" th:name="updateIdUser" th:value="${emp.getId()}">Обновить</button>
                </form>
            </td>
        </tr>
    </table>

    <br>
    <br>

    <div class="container">
        <form th:method="GET" th:action="@{/admin/formUserAdd/new}">
            <button type="submit">Добавить работника</button>
        </form>
    </div>

    <br><br>
    <div class="container">
        <form th:method="GET" th:action="@{/users/userIndex}">
            <button type="submit">На страницу Юзера</button>
        </form>
    </div>

    <br><br>
    <div class="container">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Выход"/>
        </form>
    </div>

</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>
