<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Admin Panel</title>
</head>

<body>

<div class="container-fluid">
    <div class="row" style="height: 35px; background-color: #343A40">

        <div class="col-6">
            <p class="navbar-brand text-white" style="margin: 0; padding: 0">
                <b><span class="align-middle" th:text="${userLog}"></span></b>
                <span class="align-middle">with roles:</span>
                <span class="align-middle" th:text="${rol}">
            </span>
            </p>
        </div>

        <div class="col-6">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-link" style="float: right">
                    <h6 style="color: grey">logout</h6>
                </button>
            </form>
        </div>

    </div>
</div>

<div class="d-flex align-items-start" style="background-color: #F8F9FA">

    <div class="nav flex-column nav-pills me-1 col-1 vh-100" id="v-pills-tab" role="tablist"
         aria-orientation="vertical" style="background-color: #FFFFFF; width: 11%; padding-top: 5px">

        <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab"
           aria-controls="v-pills-home" aria-selected="true" style="width: 100%">Admin</a>
        <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab"
           aria-controls="v-pills-profile" aria-selected="false" style="width: 100%">User</a>
    </div>

    <div class="tab-content col-10 vh-100" id="v-pills-tabContent" style="width: 86%">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

            <!------------------Start-Admin--------------------->

            <h2 style="margin: 0 0 15px 15px; padding-top: 15px">Admin panel</h2>
            <nav class="nav nav-tabs" id="nav-tab" role="tablist" style="margin: 0 0 0 15px">
                <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab"
                   aria-controls="nav-home" aria-selected="true">User table</a>
                <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab"
                   aria-controls="nav-profile" aria-selected="false">Add users</a>
            </nav>

            <!--Таблица-юзеров-->

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" 1
                     style="margin: 0 0 0 15px">
                    <div class="table-responsive">
                        <table class="table table-striped" style="background: #EAEAEA; margin: 0">

                            <thead>
                            <tr>
                                <div style="padding: 10px; background: #EAEAEA">
                                    <h5>All users</h5>
                                </div>
                            </tr>
                            <tr style="background: #FFFFFF">
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="emp:${empAll}">
                                <td th:utext="${emp.getId()}"></td>
                                <td th:utext="${emp.getName()}"></td>
                                <td th:utext="${emp.getSurname()}"></td>
                                <td th:utext="${emp.getAge()}"></td>
                                <td th:utext="${emp.getRoleSet()}"></td>

                                <td>
                                    <button class="btn btn-primary" type="submit" th:name="updateIdUser"
                                            th:value="${emp.getId()}" data-bs-toggle="modal"
                                            th:data-bs-target="${'#edit'+ emp.getId()}">
                                        Edit
                                    </button>
                                </td>

                                <td>
                                    <button class="btn btn-danger" type="submit" th:name="deleteIdUser"
                                            th:value="${emp.getId()}" data-bs-toggle="modal"
                                            th:data-bs-target="${'#delete'+ emp.getId()}">
                                        Delete
                                    </button>
                                </td>

                                <!--Модальное-окно-Delete-->
                                <div class="modal fade" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true"
                                     th:data-user-id="${emp.getId()}" th:id="${'delete'+ emp.getId()}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                    Delete user
                                                </h5>

                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Закрыть">

                                                </button>
                                            </div>

                                            <div class="modal-body text-center">
                                                <!--Отображение-информации-удаляемого-юзера-->
                                                <h5>ID</h5>
                                                <input class="form-control" type="text"
                                                       th:value="${emp.getId()}"
                                                       aria-label="ID User"
                                                       readonly style="width: 70%; margin: 0 auto; display: block">

                                                <h5>First name</h5>
                                                <input class="form-control" type="text"
                                                       th:value="${emp.getName()}"
                                                       aria-label="User Name"
                                                       readonly style="width: 70%; margin: 0 auto; display: block">

                                                <h5>Last name</h5>
                                                <input class="form-control" type="text"
                                                       th:value="${emp.getSurname()}"
                                                       aria-label="Last Name"
                                                       readonly style="width: 70%; margin: 0 auto; display: block">

                                                <h5>Age</h5>
                                                <input class="form-control" type="text"
                                                       th:value="${emp.getAge()}"
                                                       aria-label="Age"
                                                       readonly style="width: 70%; margin: 0 auto; display: block">

                                                <h5>Role</h5>
                                                <input class="form-control" type="text"
                                                       th:value="${emp.getRoleSet()}"
                                                       aria-label="Role"
                                                       readonly style="width: 70%; margin: 0 auto; display: block">
                                                <!--Конец-Отображения-информации-удаляемого-юзера-->
                                            </div>
                                            <!--Кнопки-модального-окнв-Delete-->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>

                                                <form th:method="DELETE" th:action="@{/admin/delete/user}">
                                                    <button class="btn btn-danger" type="submit" th:name="deleteIdUser"
                                                            th:value="${emp.getId()}" data-bs-toggle="modal">
                                                        Delete
                                                    </button>
                                                </form>
                                            </div>
                                            <!--Кнопки-модального-окнв-Delete-->
                                        </div>
                                    </div>
                                </div>
                                <!--Закрытие-Модального-окна-Delete-->

                                <!--Модальное-окно-Edit------------>
                                <div class="modal fade" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true"
                                     th:data-user-id="${emp.getId()}" th:id="${'edit'+ emp.getId()}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel2">Edit user</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Закрыть"></button>
                                            </div>

                                            <form th:method="PATCH" th:action="@{/admin/update}">
                                                <div class="modal-body text-center">
                                                    <!--Отображение-информации-edit-юзера-->
                                                    <h5>ID</h5>
                                                    <input class="form-control" type="text"
                                                           th:value="${emp.getId()}"
                                                           aria-label="User ID"
                                                           th:name="id"
                                                           style="width: 70%; margin: 15px auto; display: block"
                                                           readonly>

                                                    <h5>First name</h5>
                                                    <input class="form-control" type="text"
                                                           th:value="${emp.getName()}"
                                                           aria-label="User Name"
                                                           th:name="name"
                                                           style="width: 70%; margin: 15px auto; display: block" required>

                                                    <h5>Last name</h5>
                                                    <input class="form-control" type="text"
                                                           th:value="${emp.getSurname()}"
                                                           aria-label="Last Name"
                                                           th:name="surname"
                                                           style="width: 70%; margin: 15px auto; display: block" required>

                                                    <h5>Age</h5>
                                                    <input class="form-control" type="text"
                                                           th:value="${emp.getAge()}"
                                                           aria-label="Age"
                                                           th:name="age"
                                                           style="width: 70%; margin: 15px auto; display: block" required>

                                                    <h5>Email</h5>
                                                    <input class="form-control" type="text"
                                                           th:value="${emp.getEmail()}"
                                                           aria-label="email"
                                                           th:name="email"
                                                           style="width: 70%; margin: 15px auto; display: block" required>

                                                    <h5>Password</h5>
                                                    <input class="form-control" type="text"
                                                           aria-label="pass"
                                                           th:name="pass"
                                                           style="width: 70%; margin: 15px auto; display: block" required>

                                                    <h5>Current role</h5>
                                                    <input class="form-control" type="text"
                                                           th:value="${emp.getRoleSet()}"
                                                           aria-label="Role"
                                                           readonly
                                                           style="width: 70%; margin: 15px auto; display: block" required>

                                                    <h5>Edit role</h5>
                                                    <label>
                                                        <select class="form-select" size="2" id="roles" multiple
                                                                name="rolEdit" style="margin-top: 10px">
                                                            <option selected th:each="role:${roleList}"
                                                                    th:value="${role.getId()}"
                                                                    th:utext="${role.getNameRole()}">
                                                        </select>
                                                    </label>
                                                    <!--Конец-Отображения-информации-edit-юзера-->
                                                </div>

                                                <!--Кнопки-модального-окнв-Edit-->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button class="btn btn-primary" type="submit" th:name="updateIdUser"
                                                            th:value="${emp.getId()}"
                                                            data-bs-toggle="modal">
                                                        Edit
                                                    </button>
                                                </div>
                                            </form>
                                            <!--Кнопки-модального-окнв-Edit-->
                                        </div>
                                    </div>
                                </div>
                                <!--Закрытие-Модального-окна-Edit-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                    <!---------------Добавление-нового-Юзера------------------->

                    <form th:method="POST" th:action="@{/admin/addUser}">
                        <table class="table table-striped" style="background: #EAEAEA; margin: 0;">
                            <thead>
                            <tr>
                                <td>
                                    <h5 style="padding-left: 5px; white-space:nowrap">Add new user</h5>
                                </td>
                            </tr>
                            </thead>

                            <tbody>
                            <tr style="background-color: #FFFFFF">
                                <div>
                                    <input type="hidden" name="id" th:value="${user.getId()}"/>
                                </div>

                                <td>
                                    <div class="text-center" style="margin-bottom: 10px">
                                        <h5 style="margin: 4px">First name</h5>
                                        <label>
                                            <input class="rounded" style="width: 300px" type="text" name="name"
                                                   th:value="${user.getName()}">
                                        </label>
                                    </div>

                                    <div class="text-center" style="margin-bottom: 10px">
                                        <h5 style="margin: 4px">Last name</h5>
                                        <label>
                                            <input class="rounded" style="width: 300px" type="text" name="surname"
                                                   th:value="${user.getSurname()}"/>
                                        </label>
                                    </div>

                                    <div class="text-center" style="margin-bottom: 10px">
                                        <h5 style="margin: 4px">Age</h5>
                                        <label>
                                            <input class="rounded" style="width: 300px" type="text" name="age"
                                                   th:value="${user.getAge()}"/>
                                        </label>
                                    </div>

                                    <div class="text-center" style="margin-bottom: 10px">
                                        <h5 style="margin: 4px">Email</h5>
                                        <label>
                                            <input class="rounded" style="width: 300px" type="text" name="email"
                                                   th:value="${user.getEmail()}"/>
                                        </label>
                                    </div>

                                    <div class="text-center" style="margin-bottom: 10px">
                                        <h5 style="margin: 4px">Password</h5>
                                        <label>
                                            <input class="rounded" style="width: 300px" type="text" name="pass"
                                                   th:value="${user.getPass()}"/>
                                        </label>
                                    </div>

                                    <div class="text-center" style="margin-bottom: 10px">
                                        <h5 style="margin: 4px">Role</h5>
                                        <label>

                                            <select class="form-select" size="2" id="roles2" multiple name="rol">
                                                <option selected th:each="role:${roleList}" th:value="${role.getId()}"
                                                        th:utext="${role.getNameRole()}">
                                            </select>

                                        </label>
                                    </div>

                                    <div class="text-center">
                                        <button class="btn btn-success" type="submit">
                                            Add new users
                                        </button>
                                    </div>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <!---------------Конец добавлениея нового юзера------------>
                </div>
            </div>
            <!--------------------End-Admin--------------------->
        </div>

        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <!------------------Info-User--------------------->
            <h2 style="margin: 0 0 15px 20px; padding-top: 15px">User information-page</h2>
            <div class="table-responsive" style="padding-left: 15px">
                <table class="table table-striped" style="background: #EAEAEA">
                    <thead>
                    <tr>
                        <div style="padding: 10px; background: #EAEAEA">
                            <h5>About users</h5>
                        </div>
                    </tr>

                    <tr style="background: #FFFFFF">
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Role</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="emp:${empAll}">
                        <td th:text="${emp.getId()}">Name</td>
                        <td th:text="${emp.getName()}">Name</td>
                        <td th:text="${emp.getSurname()}">Name</td>
                        <td th:text="${emp.getAge()}">Name</td>
                        <td th:text="${emp.getRoleSet()}">Name</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--------------------End-info-User--------------------->
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>
