<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Admin Panel</title>
</head>

<body>

<div class="container-fluid">
    <div class="row" style="height: 35px; background-color: #343A40">

        <div class="col-6">
            <p class="navbar-brand text-white" style="margin: 0; padding: 0">
                <b><span class="align-middle" th:text="${userLog}"></span></b>
                <span class="align-middle">with roles:</span>
                <span class="align-middle" th:text="${rol}">
            </span>
            </p>
        </div>

        <div class="col-6">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-link" style="float: right">
                    <h6 style="color: grey">logout</h6>
                </button>
            </form>
        </div>

    </div>
</div>

<div class="d-flex align-items-start" style="background-color: #F8F9FA">

    <div class="nav flex-column nav-pills me-1 col-1 vh-100" id="v-pills-tab" role="tablist"
         aria-orientation="vertical" style="background-color: #FFFFFF; width: 11%; padding-top: 5px">

        <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab"
           aria-controls="v-pills-home" aria-selected="true" style="width: 100%">User</a>
    </div>

    <div class="tab-content col-10 vh-100" id="v-pills-tabContent" style="width: 86%; margin-left: 15px">
        <h2 style="margin: 0 0 15px 15px; padding-top: 15px">User information-page</h2>

        <div class="table-responsive">
            <table class="table table-striped" style="background: #EAEAEA; margin: 0">

                <thead>
                <tr>
                    <div style="padding: 10px; background: #EAEAEA">
                        <h5>About users</h5>
                    </div>
                </tr>
                <tr style="background: #FFFFFF">
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Role</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="emp:${empAllUser}">
                    <td th:utext="${emp.getId()}"></td>
                    <td th:utext="${emp.getName()}"></td>
                    <td th:utext="${emp.getSurname()}"></td>
                    <td th:utext="${emp.getAge()}"></td>
                    <td th:utext="${emp.getRoleSet()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>
